<h1>Subscribers</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!subscribers"><em>Loading...</em></p>

<table class='table' *ngIf="subscribers">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let subscriber of subscribers">
            <td>{{ subscriber.id }}</td>
            <td>{{ subscriber.email }}</td>
            <td>{{ subscriber.name }}</td>
        </tr>
    </tbody>
</table>
